/* Navigation */
nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #333;
  position: absolute;
  right: 0;
  top: 50px;
}

nav.show {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.menu-icon {
  display: block;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  right: 10px;
}

/* Sections */
body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans;
  background-color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 10px;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}

.item {
  flex: 0 0 50%;
  box-sizing: border-box;
  text-align: left;
}

.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
}

.flex-column {
  box-sizing: border-box;
  flex: 0 0 50%;
  min-width: 160px;
  text-align: center;
}

.flex-column-wide {
  box-sizing: border-box;
  flex: 0 0 100%;
  text-align: center;
}

.image-container {
  display: flex;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  width: 100%;
  height: 10%;
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #333;
    position: absolute;
    right: 0;
    top: 50px;
  }

  nav.show {
    display: flex;
  }

  .item {
    flex: 0 0 100%;
  }
}

/* Fonts */
a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Libre Baskerville';
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Libre Baskerville';
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  padding: 0 0 5px 0;
}

p {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

hr {
  margin: 5px auto;
  padding: 0;
  width: 50%;
}

.long {
  border-color: #fff;
  margin: 20px auto;
  padding: 0;
  width: 100%;
}

.text-background-orange {
  display: inline-block;
  background-color: #fdb45c;
  margin: 5px 0;
  padding: 2px 5px;
}

#matchingResultsDiv {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

#banner {
  background-color: #ffdd05;
  padding: 55px 0 5px 0;
  width: 100%;
  margin: 0 0 10px 0;
  color: #333;
  text-align: center;
}

#banner h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -2px;
}

#banner h3 {
  font-size: 12px;
  font-weight: 800;
}

#banner a {
  color: #333;
  text-decoration: underline;
}

/* Font Sizes for Results */
.result-1 {
  font-size: 40px;
}

.result-2 {
  font-size: 30px;
}

.result-3 {
  font-size: 20px;
}

.result-4 {
  font-size: 10px;
}

/* Font Sizes for Names */
.name-1 {
  font-size: 20px;
}

.name-2 {
  font-size: 16px;
}

.name-3 {
  font-size: 12px;
}

.name-4 {
  font-size: 10px;
  font-weight: 600;
}

.results-container {
  line-height: 0.8;
}

.box {
  flex: 0 0 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-container {
  position: relative;
  display: flex;
  height: 5px;
  width: 100%;
  top: 50px;
  left: 0;
}

.color-block {
  flex-grow: 1;
  height: 100%;
}

.color-block:nth-child(1) {
  background-color: #46bfbd;
}

.color-block:nth-child(2) {
  background-color: #f33e6f;
}

.color-block:nth-child(3) {
  background-color: #fdb45c;
}

.text-background {
  display: inline-block;
  background-color: #ffdd05;
  color: #333;
  padding: 5px 10px;
}
