a:link {color:#003366; text-decoration:none;}
a:visited {color:#003366; text-decoration:none;}
a:hover {color:#808080; text-decoration:none;}
a:active {color:#003366; text-decoration:none;}
body{margin:0; padding:0; height:100%; width:100%;}
html{color:#222; font-size:100%; margin:0; padding:0; height:100%; width:100%;}
hr{border:0; background:#a0a0a0; height:1px; width:60%;}
h1{font-family:Montserrat; font-size:24px; font-weight:900; line-height:0.8; margin:0; padding:0; letter-spacing:-1px;}
h2{font-family:Montserrat; font-size:14px; font-weight:900; line-height:1; margin:0; padding:0;}
h3{font-family:'Libre Baskerville'; font-size:30px; font-weight:700; line-height:1; margin:0; padding:0;}
p{font-family:Sans; font-size:12px; font-weight:300; line-height:1.2; margin:0; padding:0;}

/* leaflet */
#map{height:100vh; margin-left:auto; margin-right:auto; width:100vw;}
#map .leaflet-tile-pane{filter:none;}
.map-overlay{}

.leaflet-container a.leaflet-popup-close-button{color:#333; height:14px; margin:2px 0; padding:0; width:14px;}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{border:0;}

.leaflet-bottom{background:#fff; opacity:0.7; z-index:100000; padding:2px 5px; pointer-events:auto;}}
.leaflet-bottom.leaflet-left{background:#fff; opacity:0.7; z-index:100000; padding:2px 5px; pointer-events:auto;}
.leaflet-bottom.leaflet-right{background:#fff; opacity:0.7; z-index:100000; padding:2px 5px; pointer-events:auto;} 
.leaflet-control-attribution.leaflet-control{color:#333; font-size:11px; margin:0; padding:0;}
/*.leaflet-control-attribution.leaflet-control{display:inline; visibility:hidden; z-index:-1;}*/

.leaflet-popup-content{color:#333; margin:0; padding:10px; text-align:left;}
.leaflet-popup-content p{margin:0; padding:0;}
.leaflet-popup-content-wrapper{background:#fff; box-shadow:none; -webkit-border-radius:4px; border-radius:4px; opacity:1; text-align:center;}
.leaflet-popup leaflet-zoom-animated{display:none;}
.leaflet-popup-tip-container{display:none;}

.leaflet-tooltip{text-align:center; white-space:normal; margin:0; padding:0;}
.leaflet-tooltip:before{display:none;}

#title{color:#333; position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); margin:0 auto; padding:10px 0;  z-index:999; pointer-events: none; text-align:center; background:#fff; border:3px solid #333; border-radius:10px;}

#subtitle{color:#333; position:absolute; bottom:10%; left:50%; transform:translate(-50%, -50%); text-align: center; margin:0 auto; padding:10px 0; z-index:999; pointer-events: none; width:70%; text-align:center; background:#fff; border:3px solid #333; border-radius:10px;}
